header {
  background-color: #4c101a;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}
footer {
  background-color: #4c101a;
  color: #b99a64;
  text-align: center;
  padding: 20px 0;
}

#ccontainer {
  background-color: #b99a64;
  color: #4c101a;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: italic;
  text-align: center;
  padding: 20px;
}

.linksss {
  background-color: #4c101a;
  font-size: 25px;
  color: white;
  display: flex;
  justify-content: space-evenly;
}
.linksss a{
  text-decoration: none;
  color: white;

}

.teext {
  font-size: 50px;
  text-align: center;
  color: #4c101a;
  background-color: #b99a64;
}
nav ul.links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start; 
  justify-content: space-between;
}

nav ul.links li {
  display: inline;
  margin-right: 20px;
}

nav ul.links li:last-child {
  margin-right: 0; 
}

nav ul.links li a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  header {
    padding: 15px;
  }
  
  nav ul.links {
    flex-direction: column;
    align-items: center;
  }

  nav ul.links li {
    margin: 10px 0;
  }
}
.container {
  padding: 15px;
}
.scale-with-grid{ 
display: flex;
  justify-content: center;
 }
 .backroundlogo{
  display: flex;
  justify-content:center;
  height:100px;
}
.backgroundlogo{
  display: flex;
  justify-content:center;
  height:100px;
}